<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ExamBmMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.pojo.ExamBm">
            <id property="uId" column="u_id" jdbcType="INTEGER"/>
            <id property="subId" column="sub_id" jdbcType="INTEGER"/>
            <result property="bmScore" column="bm_score" jdbcType="INTEGER"/>
            <result property="bmTime" column="bm_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id,sub_id,bm_score,
        bm_time
    </sql>
</mapper>
