<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ReserveMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.pojo.Reserve">
            <result property="subId" column="sub_id" jdbcType="INTEGER"/>
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="staTime" column="sta_time" jdbcType="DATE"/>
            <result property="enTime" column="en_time" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sub_id,u_id,sta_time,
        en_time
    </sql>

    <select id="findReserveByUser" resultType="com.example.backend.pojo.Reserve">
        select * from  reserve where  u_id = #{uId} and sub_id = #{subId} ORDER BY sta_time ASC;
    </select>

    <select id="getTotalHours" resultType="com.example.backend.pojo.Reserve">
        SELECT
            u_id,
            sub_id,
            SUM(TIMESTAMPDIFF(SECOND, sta_time, en_time)) / 3600 AS total_hours
        FROM
            reserve
        GROUP BY
            u_id, sub_id;
    </select>
</mapper>
