<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ReserveMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.pojo.Reserve">
            <result property="subId" column="sub_id" jdbcType="INTEGER"/>
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="staTime" column="sta_time" jdbcType="DATE"/>
            <result property="enTime" column="en_time" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        sub_id,u_id,sta_time,
        en_time
    </sql>

    <select id="findReserveByUser" resultType="com.example.backend.pojo.Reserve">
        select * from  reserve where  u_id = #{uId} and sub_id = #{subId} ORDER BY sta_time ASC;
    </select>

    <select id="getTotalHours" resultType="com.example.backend.pojo.Reserve">
        SELECT
            u_id,
            sub_id,
            SUM(TIMESTAMPDIFF(SECOND, sta_time, en_time)) / 3600 AS total_hours
        FROM
            reserve
        GROUP BY
            u_id, sub_id;
    </select>

    <select id="getEveryHourNum" resultType="com.example.backend.service.utils.HourNum">
        SELECT
            DATE_FORMAT(sta_time, '%Y-%m-%d %H:00') AS timeString,
            COUNT(u_id) AS count
        FROM
            reserve
        WHERE
            DATE(sta_time) = CURDATE()
          AND HOUR(sta_time) BETWEEN 8 AND 19
        GROUP BY
            timeString;
    </select>

    <select id="getSubIdNum" resultType="com.example.backend.service.utils.SubNum">
        select sub_id,count(*) as count from reserve where  DATE(sta_time) = CURDATE()group by sub_id;
    </select>

    <select id="getCarTypeNum" resultType="com.example.backend.service.utils.CarTypeNum">
        select a_car_type,count(*) as count from apply,reserve
        where reserve.u_id = apply.u_id and DATE(sta_time) = CURDATE()
        group by a_car_type;
    </select>

    <select id="getPreNum" resultType="com.example.backend.service.utils.HourNum">
        SELECT
            DATE(sta_time) AS time,
            COUNT(*) AS count
        FROM
            reserve
        WHERE
            DATE(sta_time) BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 4 DAY)
        GROUP BY
            DATE(sta_time)
        ORDER BY
            DATE(sta_time)
    </select>

    <delete id="deleteOldReservations">
         <![CDATA[
        DELETE FROM reserve
        WHERE sta_time < CURDATE();
        ]]>
    </delete>
</mapper>
