<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.SelectTeaMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.pojo.SelectTea">
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="cId" column="c_id" jdbcType="INTEGER"/>
            <result property="selType" column="sel_type" jdbcType="VARCHAR"/>
            <result property="selTime" column="sel_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id,c_id,sel_type,
        sel_time
    </sql>

    <select id="selectCoach" resultType="com.example.backend.pojo.Coach">
        select * from select_tea,coach where coach.c_id = select_tea.c_id and u_id= #{uId} and sel_type = #{selType}
    </select>
</mapper>
