<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.pojo.User">
            <id property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="auth" column="auth" jdbcType="INTEGER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id,password,auth,
        image,state
    </sql>

    <select id="selectByuId" resultType="com.example.backend.pojo.User">
        SELECT *
        FROM user
                 LEFT JOIN apply ON user.u_id = apply.u_id where user.u_id = #{uId};
    </select>
</mapper>
